h1 {
	text-align: center;
	padding: 20px;
	font-weight: bold;
	margin-top: 70px;
}

ul {
	list-style-type: none;
	margin-top: 50px;
	margin-left: 30px;
}

li {
	padding: -1px;
}

html, body{
	margin: 0px;
}

a {
	text-decoration: none;
	color: #595959;
}

a:hover, h3:hover, h1:hover {
//	color: #ff3385;
	transition: .3s;
	color: #809fff;  
	cursor: pointer;
}

.main {
	height: 678px;
	width: 1280px;
	margin-left: 0px;
	margin-right: 0px;
	/*
	background: url(http://keyclub.org/Libraries/design_elements/graphics_KeyClub_blue_grid_PNG.sflb.ashx) no-repeat center center;
	background-size: cover;
	*/
//	background-color: #809fff; 
//	background-color: black;
	background: url(http://66.media.tumblr.com/abedb2cd56a31c3cce5e98777f983ffe/tumblr_inline_mwbs2sCNxB1qkc0d3.png) no-repeat center center;
	background-repeat: repeat;
}

.content {
  	background-color: white;
  	height: 600px;
	width: 500px;
	float: left;
	margin-right: 30px;
	margin-left: 110px;
	margin-top: 35px;
	color: #595959;
	font-family: 'Jura', serif;
	font-size: 20px;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 10px;
}

.mirror {
	background: url(https://s-media-cache-ak0.pinimg.com/736x/7e/a5/80/7ea5807d81a471478dd7aa5ad13fdca9.jpg) no-repeat center center;
  	background-size: cover;	
	background-color: white;
	height: 600px;
	width: 500px;
	float: right;
	display: inline-block;
	margin-left: 29px;
	margin-top: 35px;
	position: absolute;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 10px;
}

.mirror p {
	font-family: 'Jura', serif;
	font-size: 20px;
	margin-top: 180px;
	margin-left: 50px;
	margin-right: 40px;
	line-height: 60px;
	text-align: left;
//	text-indent: 20px;
	display: none;
}



/*#gerbildiv {
	border: 1px solid black;
	padding: 5px;
}*/

#gerbildiv p{
	margin-top: 40px;
	line-height: 40px;
};
