h1 {
	text-align: center;
	padding: 20px;
	font-weight: bold;
	margin-top: 70px;
}

ul {
	list-style-type: none;
	margin-top: 50px;
	margin-left: 30px;
}

li {
	padding: -1px;
}

html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	position: relative;
}

body {
	background: url(http://66.media.tumblr.com/abedb2cd56a31c3cce5e98777f983ffe/tumblr_inline_mwbs2sCNxB1qkc0d3.png) no-repeat center center;
	background-repeat: repeat;
	position: fixed;
}

a {
	text-decoration: none;
	color: #595959;
}

a:hover, h3:hover, h1:hover {
//	color: #ff3385;
	transition: .3s;
	color: #809fff;  
	cursor: pointer;
}

.main {
//	height: 678px;
//	width: 1280px;
	height: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.content {
  	background-color: white;
  	height: 600px;
	width: 500px;
	float: left;
	margin-right: 30px;
	margin-left: 110px;
	margin-top: 35px;
	color: #595959;
	font-family: 'Jura', serif;
	font-size: 20px;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 10px;
}

.mirror {
	background: url(https://s-media-cache-ak0.pinimg.com/736x/7e/a5/80/7ea5807d81a471478dd7aa5ad13fdca9.jpg) no-repeat center center;
  	background-size: cover;	
	height: 600px;
	width: 500px;
	float: right;
	display: inline-block;
	margin-left: 29px;
	margin-top: 35px;
	position: absolute;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 10px;
}

.mirror p {
	font-family: 'Jura', serif;
	font-size: 20px;
//	margin-top: 120px;
//	margin-left: 50px;
//	margin-right: 40px;
	margin-left: 13%;
	margin-right: 10%;
//	line-height: 60px;
	text-align: left;
//	text-indent: 20px;
	display: none;
}

.mirror img {
	display: block;
//	width: 350px;
//	height: 261px;
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: -20px;
}

#contactdiv p{
	margin-top: 20%;
	line-height: 60px;
}

#aboutdiv p{
	margin-top: 20%;
	margin-bottom: auto;
	line-height: 60px;
}

#gerbildiv p{
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 40px;
}

#overlayContent{
	position: fixed; 
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	display: none;
	overflow: hidden;
	z-index: 100;
	background: rgba(0,0,0,0.7);
}

#imgBig, .imgSmall{
	cursor: pointer;
}

#imgBig {
	width: 60%;
	height: auto;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 700px){

	
	.content {
		width: 90%;
		height: 40%;
		margin-left: 5%;
	}

	h1 {
		text-align: center;
		font-weight: bold;
		margin-top: -2%;
		margin-bottom: 8%;
		font-size: 2em;
	}

	ul {
		margin-top: -5%;
		margin-bottom: auto;
		margin-left: -1%;
		margin-right: 2%;
		font-size: .8em;
		text-align: center;
	}

	li {
		float: left;
		margin-left: 5%;
		margin-bottom: 2%;
		height: 30px;
	}
	
	.mirror {
	width: 90%;
	height: 40%;
	margin-right: 5%;
	box-shadow: 2px 2px 1px #888888;
	border-radius: 10px;
	position: relative;
	}
	
	.mirror p {
		font-size: 17px;
		margin-top: 5%;
		margin-left: 50px;
		margin-right: 40px;
		line-height: 40px;
		text-align: left;
	//	text-indent: 20px;
		display: none;
	}

	#contactdiv p{
		margin-top: 10%;
		line-height: 40px;
	}

	#aboutdiv p{
		margin-top: 5%;
		line-height: 40px;
	}

	#gerbildiv p{
		margin-top: 2%;
		margin-bottom: 5%;
		line-height: 40px;
	}

	#imgBig {
		width: 90%;
		height: auto;
}
}


